{% extends "base.html" %}


{% load staticfiles %}


{% block title %}ITBursa добавление студента{% endblock title %}


{% block stud_active %}active{% endblock stud_active %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="col-md-12">
      <h3>Добавление нового студента</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
      </form>
    </div>
  </div>
</div>
{% endblock content %}