img.logo {
    height: 45px;
    margin-top: -10%
}
.jumbotron {
    background: white;
    opacity: 0.7;
}
body {
    background-image: url(../images/background.jpg);
}
.photo {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    padding-top: 25px;
    align: center;
}
#dir {
    height: 300px
}
#manager {
    height: 250px
}
span.name {
    color: red;
}
span.skype {
    color: blue;
}
span.phone {
    text-decoration: underline;
}