img.logo {
    height: 45px;
    margin-top: -10%
}
.jumbotron {
    background: white;
    opacity: 0.7;
}
body {
    background-image: url(../images/background.jpg);
}
.photo {
    opacity: 1;
    padding-top: 25px;
    
}
#dir {
    height: 300px
}
#manager {
    height: 250px
}
span.name {
    color: red;
}
span.skype {
    color: blue;
}
span.phone {
    text-decoration: underline;
}
.tdfunc{
  font: 18pt serif;
  text-align: center;
}
th{
  color:black;
  font: 24pt serif;
}
td.first{
  color:blue;
  vertical-align:middle;
}
span.glav{
  text-decoration:underline;
  color: red 
   }
.newfooter{
  background-color: black;
  text-align: center;

}
.firma{
  color:green;
}
#prava{
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}
a.contact{
  color:red;
  text-decoration:underline;
  font: 16pt serif;
}
a.courses{
  color:yellow;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  text-decoration:underline;
  font: 16pt serif;
}